.brand,.main-menu{display:inline-flex}
*,.social ul,body{padding:0}
.bottom-menu a,.overlay ul a,body{font-family:Roboto,sans-serif!important}
*,.case-study-slider .h1{-moz-osx-font-smoothing:grayscale}
.footer-menu,.social ul,.testim .dots .dot{list-style-type:none}
*{-webkit-font-smoothing:antialiased}
body{font-weight:400;height:auto;width:100%;overflow-x:hidden!important}
::-moz-selection{color:#fff;background:#4885ed}
::selection{color:#fff;background:#4885ed}
a{text-decoration:none}
a:hover{text-decoration:none!important}
.brand{position:absolute;left:50px;z-index:1}
.show-menu{box-shadow: 0px 2px 20px 2px #343a40;position:fixed!important;top:0!important;height:65px!important;}
.bar,.toggle-active .bar{background-color:#fff}
.fix-bg,.overlay{background-repeat:no-repeat;background-position:center;background-size:cover}
.hide-menu,.main-menu.show-menu .toggle-button{top:10px}
.main-menu{position:absolute;top:30px;height:50px;width:100%;z-index:30;transition:transform .4s cubic-bezier(.32,.01,0,1),color .2s cubic-bezier(.32,.01,0,1),background-color 0s cubic-bezier(.32,.01,0,1),padding .4s cubic-bezier(.32,.01,0,1)}
.side-menu{margin-top:30px}
.social{position:absolute;bottom:20%;left:0;right:0}
.social ul li{display:inline-block;margin-left:35px}
.social ul li a i{color:#fff}
.banner-section{height:650px;width:100%;position:relative;display:flex;overflow:hidden}
.navbar-header .toggle-active{position:fixed;top:25px}
.toggle-button{position:absolute;top:0;right:50px;height:35px;width:40px;cursor:pointer;z-index:999}
.bar{display:block;width:100%;height:4px;border:0;-webkit-transition:all .35s ease;transition:all .35s ease}
.bar+.bar,.bar.top{margin-top:8px}
.all-menu,.line{margin:auto;right:0;left:0}
.middle{top:11px}
.bottom{top:22px}
.toggle-button:hover{opacity:.7}
.overlay,.toggle-active .middle{opacity:0}
.toggle-active .top{-webkit-transform:translateY(8px) translateX(0) rotate(45deg);transform:translateY(8px) translateX(0) rotate(45deg)}
.toggle-active .bottom{-webkit-transform:translateY(-12px) translateX(0) rotate(-45deg);transform:translateY(-12px) translateX(0) rotate(-45deg)}
.overlay{position:fixed;background-color:#0389ff;top:0;left:0;width:100%;height:100%;visibility:hidden;-webkit-transition:opacity .35s,visibility .35s,height .35s;transition:opacity .35s,visibility .35s,height .35s; -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s,-webkit-transform 1s;
}
.overlay ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: width .35s;
    transition: width .35s;
    display: block;
}
.overlay ul li a:active:after, .overlay ul li a:focus:after, .overlay ul li a:hover:after {
    width: 10px;
}
.nav-active{opacity:1;visibility:visible;height:100%;z-index:220; -webkit-transform: translateX(0%); transform: translateX(0%); }
.overlay ul{position:relative;left:0;font-weight:400;text-align:center;list-style:none}
.all-menu .brand{position:relative;left:0;right:0;bottom:50px;display:block}
.all-menu{position:absolute;top:30%;width:60%;height:60%}
a.home-link{display:none}
.bottom-menu a,.top-menu a{padding:0 20px;font-size:2.3rem}
.overlay .top-menu a:hover{color:#000}
.overlay .bottom-menu a:hover{color:#6fda44}
.bottom-menu li,.overlay .top-menu li{display:inline-flex;}
.bottom-menu{display:inline-block;padding-top:20px}
.line{height:1px;background-color:#fff1ff;width:50%;position:relative;top:60px}
.bottom-menu a:hover,.overlay ul a:hover{color:#fff}
.bottom-menu a,.overlay ul a{color:#fff;text-transform:capitalize;text-decoration:none;font-size:2.8rem}
.transparent-black{width:100%;height:100%;top:0;left:0;position:absolute;background-color:rgba(0,0,0,.7);z-index:222}
.banner-heading{top:180px;left:200px;z-index:5;color:#fff;position:absolute}
.banner-heading h1{font-weight:300;font-size:60pt;line-height:55pt;letter-spacing:0;margin-bottom:20px}
.banner-heading h6{font-size:18pt;color:#fff;font-weight:300;margin-bottom:30px}
.banner-button{display:inline-block;text-transform:uppercase;border-radius:3px;padding:10px 38px;background-color:#4885ed;color:#fff}
.banner-button:hover{color:#fff;background:linear-gradient(to right,#1c79c0,#0389ff,#0dd3ff)}
.wrapper{position:absolute;left:46%;top:85%;right:50px;width:100%;margin:auto;display:flex;z-index:0}
.associated .h2::after,.contact-mail .h5::after,.how-we-do-section div h3::after,.light-org-bg .content h3::after,.team-headline .h1::after,.what-we-do .h1:after{content:''}
.end{margin-right:0!important}
.col_fourth:not(:last-child){border-right:1px solid #78787861}
.case-study{width:100%;height:auto;background:#efefef;position:relative}
.case-study-slider{height:700px}
.bg-text{position:absolute;z-index:0;color:#d5d5d578;font-size:195pt;font-weight:700;left:50%;top:50%;display:inline-block;bottom:0;transform:translate(-50%,-50%)}
.acr,.bg-text-slide,.product,.what-we-do{position:relative}
.bg-text .row,.what-we-do .row:not(:first-child){display:flex}
.item .bg-text{overflow:hidden}
.case-study-slider .h1{color:#1f2161;font-weight:700;font-size:48pt;-webkit-font-smoothing:antialiased}
.case-study-slider a.click-btn{color:#1f2161;font-size:1.2em;letter-spacing:1px;font-weight:700;text-transform:uppercase;border-bottom:1px solid #1f2161}
.product p,.what-we-do .h1,.what-we-do .h3,.what-we-do .h4{font-weight:300}
.case-study-slider p{color:#1f2161;font-size:14pt;font-weight:300;margin-bottom:50px}
.demo-1 .sl-content .row{margin:0}
.what-we-do{padding:50px 0;width:100%;height:auto;color:#fff;background-color:#343a40;overflow:hidden}
.what-we-do .h3{font-size:42px;color:#fff}
.what-we-do .h1{font-size:42pt;color:#fff}
.what-we-do .h4{color:#fff;font-size:26pt}
.what-we-do .h1:after{width:100px;height:1px;background-color:#fff;display:block;margin:18px 0}
.associated .h2,.contact-form .h2,.testimonial-section .h2{font-style:normal;font-weight:300;font-size:30pt;color:#080645;display:inline-block}
.associated-all-logo{padding:80px 0;background:#fff}
.associate-click-btn,.associated .dropdown-menu-center .dropdown-item:hover{background-color:#6fda44;color:#fff}
.footer-menu{padding:0;text-decoration:none;margin:0}
.footer-menu li{display:inline-block;margin:0 5px}
.top-footer{border-top:1px solid #b7b7b7;padding:38px 0 32px}
.top-footer .social ul li a{padding:10px}
.top-footer .social ul li a:hover i[class*=fa-facebook]{color:#1f69b3}
.top-footer .social ul li a:hover i[class*=fa-twitter]{color:#43b3e5}
.top-footer .social ul li a:hover i[class*=fa-instagram]{color:#c41d78}
.top-footer .social ul li a:hover i[class*=fa-linkedin]{color:#1a7696}
.top-footer .social ul li a i{color:#000;font-size:1.4rem}
.top-footer .social{position:relative;bottom:0}
.top-footer .social ul{float:right}
.footer-menu a:first-child{margin:0}
.footer-menu a{font-size:1.2rem; text-transform:capitalize;font-weight:500;margin:0 10px;display:inline-block;color:#000}
.footer-menu a:hover{color:#f84034}
.bottom-footer p{font-size:12pt}
.bottom-footer{color:#fff;font-weight:300;padding:35px 0 32px;}
.about-banner-text p,.about-bg h1{font-weight:400;line-height:1.5}
.bottom-footer a{text-decoration:underline;color:#fff}
.bottom-footer a:hover{color:#fff}
.about-bg{height:100vh;width:100vw;background:linear-gradient(to bottom,#1c79c0,#0389ff,#0dd3ff)}
.about-banner-text{position:absolute;z-index:25;color:#fff;transform:translate(0,40vh)}
.about-bg h1{font-size:3.8rem;margin-bottom:1%}
#particle-canvas{width:100%;height:100vh}
.about-banner-text p{font-size:1.5rem;}
.aboutus-text{padding:80px 0}
.aboutus-text p{color:#404044;font-size:14pt;font-weight:300}
.aboutus-text .h3,.aboutus-text .h5{color:#3434ac;font-weight:500}
.aboutus-text .row:not(:first-child){margin-top:6%}
.team-headline{color:#000;padding:50px;width:100%}
.team-headline .h1::after{display:block;width:100px;height:1px;text-align:center;background-color:#000;margin:15px auto}
.team-headline p{font-size:14pt;line-height:1.8rem}
.middle p{font:14pt;font-weight:lighter;margin-top:10%}
.bg-pink{background-color:#e71c5e}
.bg-pink-opacity{background-color:#e71c5eb5}
.team-second-row .team-person:first-child{margin:0}
.contact-banner{overflow:hidden;width:100vw;height:100vh;min-height:600px;position:relative;background: #f84034 url(../img/right-sider-banner.png) no-repeat top right fixed;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}
.advertise-banner-content,.content-info,.how-we-banner-content{position:absolute;top:25%;left:8%;color:#fff}
.advertise-banner-content h1,.content-info h1,.how-we-banner-content h1{font-size:44pt;line-height:1em;font-weight:400;}
.content-info .h5 a{color:#fff}
.content-info .h5{margin:0;font-size:15pt;font-weight:lighter}
.contact-mail{margin:20px 0}
.contact-mail .h5::after{display:block;width:100px;height:1px;background-color:#fff;margin-top:10px}
.content-info .banner-button{margin:8% 0}
.advertise-banner{height:100vh;width:100vw;overflow:hidden}
.advertise-banner-content,.how-we-banner-content{top:30%;left:12%}
.advertise-banner-subheading,.how-we-banner-subheading{color:#dadada;margin-top:6%}
.advertise-banner-subheading h6,.how-we-banner-subheading h6{font-size:1.2rem}
.advertise-banner-subheading h4{font-weight:500;font-size:1.8em}
.advertise-banner-button{position:absolute;bottom:20%;right:15%}
.banner-button.bg-blue{background-color:#3734ab;padding:10px 30px}
.banner-button.bg-yellow{background-color:#ffba01}
a.banner-button{margin:0 15px 0 0}
.light-org-bg{color:#fff;padding:100px 0;background-color:#cf644b}
.border-top-org{border-top:1px solid #b63e68}
.light-org-bg .content{padding:0 10% 0 45px}
.light-org-bg .content p>span{font-weight:500}
.light-org-bg .content p{font-weight:300}
.light-org-bg .content h3{font-size:30pt}
.light-org-bg .content h3::after{width:85px;height:1px;display:block;background-color:#fff;margin:10px 0 40px}
.advertise-special-row-one p,.advertise-special-row-two p,.tracking-analytics p,.tv-dash-bg p{font-weight:lighter;font-size:1rem;line-height:1.4em}
.advertise-special-row-one,.advertise-special-row-two{position:relative;display:flex;background-color:#51c336;cursor:pointer;overflow:hidden}
.first-image,.second-content,.third-content-image{width:33%;color:#fff}
.second-content{background-color:#ddd;color:#2b288d}
.advertise-special h5{font-weight:500;font-size:1.5em}
div.third-content-image{padding-right:2%}
.first-image,.second-content,.second-first,.second-sec-bg,.third-content-image{overflow:hidden;position:relative;padding:4%;transition:all .3s ease-in-out}
.first-image:hover,.second-content:hover,.second-first:hover div.d-inline,.second-sec-bg:hover,.third-content-image:hover{-ms-transform:scale(1.05);-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05)}
.second-first{background-color:#e91c5e;width:50%;background-image:linear-gradient(to right,rgba(95,186,125,.9) 0,rgba(16,138,236,.9) 100%);color:#fff}
.second-sec-bg{background-color:#2b288d;color:#fff;width:50%}
.tracking-analytics,.tv-dash-bg,.tv-dashboard{height:70vh;width:100vw;display:flex;position:relative}
.tracking-analytics .h2{color:#2b288d;font-weight:400;margin-bottom:20px}
.tv-track{padding:10% 0 0;width:50vw;background-color:#fff}
.tv-dashboard{color:#fff}
.tv-analytics [class*=col]{position:absolute;bottom:15vh;width:425px;max-width:100%}
.tv-track .car-chart{margin-top:6vh}
.how-we-banner-subheading{width:60vw}
.how-we-banner-subheading h6{font-weight:400;line-height:1.5em}
.first-p,.how-we-do-section p{font-weight:300}
.what-on-tv{background:#3734ab;height:70vh}
.how-we-do-section div h3::after{width:80px;height:2px;margin:20px 0;display:block;background-color:#6fda44}
.audience-sec{height:auto;position:relative;color:#fff;padding-bottom:50px;background-color:#3838b3}
.bold-line{width:70px;height:4px;background-color:#fff;margin-bottom:50px;display:inline-block}
.webcoderskull-svg-section{width:100%;}
.webcoderskull{font-size:.5em}
svg{width:100%;height:100%;background:#000;background-size:.12em 100%;font:16em/1 Roboto}
.webcoderskull-1{fill:none;stroke:#fff;stroke-dasharray:7% 10%;stroke-width:5px;-webkit-animation:stroke-offset 7s infinite linear;animation:stroke-offset 7s infinite linear}
.webcoderskull-1:nth-child(1){stroke:#360745;stroke-dashoffset:7%}
.webcoderskull-1:nth-child(2){stroke:#d61c59;stroke-dashoffset:14%}
.webcoderskull-1:nth-child(3){stroke:#e7d84b;stroke-dashoffset:21%}
.webcoderskull-1:nth-child(4){stroke:#efeac5;stroke-dashoffset:28%}
.webcoderskull-1:nth-child(5){stroke:#1b8798;stroke-dashoffset:35%}
@-webkit-keyframes stroke-offset{50%{stroke-dashoffset:35%;stroke-dasharray:0 87.5%}
}
@keyframes stroke-offset{50%{stroke-dashoffset:35%;stroke-dasharray:0 87.5%}
}
.main-banner{height:100vh;width:100vw;background-color:#212529;background-attachment:fixed;background-size:cover;background-repeat:no-repeat;background-position:center;background-image:url("../img/services/webcoder-texture-coder.png");mix-blend-mode:multiply;}
.menu-overlay, .what-we-do, .bottom-footer, .show-menu{background:#f84034;background:-moz-linear-gradient(-45deg,#f84034 0,#f3167b 100%);background:-webkit-linear-gradient(-45deg,#f84034 0,#f3167b 100%);background:linear-gradient(135deg,#f84034 0,#f3167b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f84034', endColorstr='#f3167b', GradientType=1);}
.call-to-action-inner{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:block;width:100%;text-align:center;font-size:125%;max-height:100%;}
.call-to-action .h1{font-family:Roboto,sans-serif!important;font-weight:300;font-size:4em;}
.call-to-action{color:#fff;background:#f84034;background:#f84034 url(../img/right-sider-banner.png) no-repeat top right fixed;height:90vh;min-height:30em;background-size:cover;position:relative;background-blend-mode:multiply;}
.call-to-action a{color:#fff;display:inline-block;text-decoration:none;padding:0.5em 2em;border-width:2px;border-style:solid;border-color:#fff;border-image:initial;}
.call-to-action a:hover{color:#fff;background-color:red;border-width:2px;border-style:solid;border-color:red;border-image:initial;}
.call-to-action p{font-size:1.2em;margin:2em 0px;}
