*{
  margin: 0px;
  padding: 0px;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
.morelink{
  color: #ed3237;
}
@font-face {
    font-family: 'yellow_peas_demoregular';
    src: url('yellow_peas_demo-webfont.woff2') format('woff2'),
         url('yellow_peas_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    height: 100%;
    width: 100%;
    user-select: none;
    background-image: url(../images/earth.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cf{
  content: " ";
  display: table;
  clear: both;
}
html{
   scroll-behavior: smooth;
}
a,img {
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}
strong{
  color: #ed3237;
}
h1{
  font-family: 'yellow_peas_demoregular';
  margin: 0;
  font-size: 20px;
}
h1{
  font-family: 'yellow_peas_demoregular';
  margin: 0;
  font-size: 20px;
}
ul{
  list-style: none;
}
.strink{
  color: #ed3237;
}
body{
  font-family: 'yellow_peas_demoregular';
  color: black;
}
p{
  font-family: 'yellow_peas_demoregular';
  font-size:15px;
  letter-spacing: 1px;
}

@media screen and (min-width:1200px){
  .lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}
  body.lb-disable-scrolling{overflow:hidden}
  .lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}
  .lightbox{width:100%;z-index:10000;font-weight:400;outline:0}
  .lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}
  .lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}
  .lb-outerContainer:after{content:"";display:table;clear:both}.lb-loader{top:43%;height:25%;width:100%}
  .lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}
  .lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}
  .lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}
  .lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}
  .lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}
  .lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
  .lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}
  .lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}
  .lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}
  .lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:none;clear:left;padding-bottom:1em;font-size:12px;color:#999}
  .lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}
  .lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}


  .moreellipses{
    display: none;
  }
  .morelink {
      display: none;
  }
  .stb{
    display: none;
  }
  #myBtn{
    display: none;
  }
  #dots{
    display: none;
  }
  .channel{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    padding-top: 120px;
    color: white;
    text-align: center;
  }
  .channel img{
    width: 100%;
  }
  .channel h1{
    font-weight: 1000;
    padding-top: 50px;
  }
  .channel p a{
    color: #00a2ff;
  }
  .more{
    margin-bottom: 10px;
  }
  .more article{
    color: #ed3237;
    margin-top: 50px;
    font-size: 20px;
  }
  .more article p{
    border-radius: 25px;
    cursor: pointer;
    width: 400px;
    border: 1px solid #ed3237;
    margin: auto;
  }
  .more article p:hover{
    background-color: #ed3237;
    color: black;
  }
  .more article p a:hover{
    color: white;
  }
  .channel h1{
    text-align: center;
    color: white;
    /* padding: 50px 0 50px 0; */
  }
  .channel p{
    margin: 50px 100px 0px 100px;
  }
  .subs{
    background-color: rgba(0,0,0,0.9);
    height: 100%;
    padding-top: 30px;
    text-align: center;
  }
  .subs article {
    width: 100%;
    display: flex;
  }
  .subs article  p{
    width: 100%;
  }
  .subs article p a{
    color: white;
  }
  .subs article p a:hover{
    color: #ed3237;
  }
  .photos{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    padding-top: 50px;
  }
  .photos h1{
    color: white;
    width: 430px;
    margin-left: 50px;
    text-align: left;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
  }
  .photos p{
    margin: 10px 100px 0px 80px;
    color: white;
    font-weight: 700;
  }
  .photos article{
    text-align: center;
  }
  .photos article img{
    height: 290px;
    margin: 10px;
    border: 5px solid gray;
    border-radius: 10px;
  }

}
@media screen and (min-width:769px) and (max-width:1199px) {
  .lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}
  body.lb-disable-scrolling{overflow:hidden}
  .lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}
  .lightbox{width:100%;z-index:10000;font-weight:400;outline:0}
  .lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}
  .lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}
  .lb-outerContainer:after{content:"";display:table;clear:both}.lb-loader{top:43%;height:25%;width:100%}
  .lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}
  .lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}
  .lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}
  .lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}
  .lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}
  .lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
  .lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}
  .lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}
  .lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}
  .lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:none;clear:left;padding-bottom:1em;font-size:12px;color:#999}
  .lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}
  .lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}

  .moreellipses{
    display: none;
  }
  .morelink {
      display: none;
  }
  .stb{
    display: none;
  }
  #myBtn{
    display: none;
  }
  #dots{
    display: none;
  }
  .channel{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    padding-top: 100px;
    color: white;
    text-align: center;
  }
  .channel h1{
    font-weight: 1000;
    padding-top: 50px
  }
  .channel img{
    width: 100%;
  }
  .channel p a{
    color: #00a2ff;
  }
  .subs{
    background-color: rgba(0,0,0,0.9);
    height: 100%;
    padding-top: 30px;
    text-align: center;
  }
  .subs article {
    width: 100%;
    display: flex;
  }
  .subs article  p{
    width: 100%;
  }
  .subs article p a{
    color: white;
  }
  .subs article p a:hover{
    color: #ed3237;
  }
  .more{
    margin-bottom: 10px;
  }
  .more article{
    color: #ed3237;
    margin-top: 50px;
    font-size: 20px;
  }
  .more article p{
    border-radius: 25px;
    cursor: pointer;
    width: 400px;
    border: 1px solid #ed3237;
    margin: auto;
  }
  .more article p:hover{
    background-color: #ed3237;
    color: black;
  }
  .more article p a:hover{
    color: white;
  }
  .channel h1{
    color: white;
    padding: 30px 0 30px 0;
  }
  .channel p{
    margin: 50px 50px 0px 50px;
  }
  .photos{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
  }
  .photos h1{
    color: white;
    width: 430px;
    text-align: left;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
  }
  .photos p{
    margin: 10px 30px 0px 30px;
    color: white;
    font-weight: 700;
  }
  .photos article{
    text-align: center;
  }
  .photos article img{
    height: 180px;
    margin: 10px;
    border: 5px solid gray;
    border-radius: 10px;
  }

}
@media screen and (max-width:768px) {
  .lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}
  body.lb-disable-scrolling{overflow:hidden}
  .lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}
  .lightbox{width:100%;z-index:10000;font-weight:400;outline:0;top: 50%;}
  .lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}
  .lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}
  .lb-outerContainer:after{content:"";display:table;clear:both}.lb-loader{top:43%;height:25%;width:100%}
  .lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}
  .lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}
  .lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}
  .lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}
  .lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}
  .lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
  .lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}
  .lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}
  .lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}
  .lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:none;clear:left;padding-bottom:1em;font-size:12px;color:#999}
  .lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}
  .lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}

    .morecontent span {
      display: none;
  }
  .morelink {
      /* display: block; */
  }
  .stbb{
    display: none;
  }
  .channel{
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
    color: white;
    text-align: center;
  }
  .channel h1{
    font-weight: 1000;
    padding-top: 30px
  }
  .channel p a{
    color: #00a2ff;
  }
  .channel img{
    width: 100%;
    height: 220px;
  }
  .more{
    margin-bottom: 10px;
  }
  .more article{
    color: #ed3237;
    /* margin-top: 50px; */
    font-size: 20px;
  }
  .more article p{
    border-radius: 25px;
    cursor: pointer;
    width: 400px;
    border: 1px solid #ed3237;
    margin: auto;
  }
  .more article p:hover{
    background-color: #ed3237;
    color: black;
  }
  .more article p a:hover{
    color: white;
  }
  .subs{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    padding-top: 30px;
    text-align: center;
  }
  .subs article {
    width: 100%;
  }
  .subs article  p{
    width: 100%;
  }
  .subs article p a{
    color: white;
  }
  .subs article p a:hover{
    color: #ed3237;
  }
  .channel h1{
    text-align: center;
    color: white;
  }
  .channel p{
    margin: 20px 30px 0px 30px;
  }
  .photos{
    width: 100%;
    background-color: rgba(0,0,0,0.8);
  }
  .photos h1{
    color: white;
    padding: 30px 0 0 30px;
    text-align: left;
  }
  .photos p{
    margin: 10px 30px 0px 25px;
    color: white;
    font-weight: 700;
  }
  .photos article{
    text-align: center;
    width: 100%;
  }
  .photos article img{
    width: 120px;;
    margin: 30px 0 0 0;
    border: 2px solid gray;
    border-radius: 10px;
  }
}
