*{
  margin: 0px;
  padding: 0px;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
span{
  margin-right: 10px;
}
@font-face {
    font-family: 'yellow_peas_demoregular';
    src: url('yellow_peas_demo-webfont.woff2') format('woff2'),
         url('yellow_peas_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.offer img{
  width: 100%;
}
body{
    height: 100%;
    width: 100%;
    user-select: none;
    background-image: url(../images/earth.gif);
    background-size: cover;background-repeat: no-repeat;
    background-attachment: fixed;
}
.cf{
  content: " ";
  display: table;
  clear: both;
}
html{
   scroll-behavior: smooth;
}
a,img {
  color: white;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}
strong{
  color: #ed3237;
}
h1{
  font-family: 'yellow_peas_demoregular';
  margin: 0;
}
ul{
  list-style: none;
}
body{
  font-family: 'yellow_peas_demoregular';
  color: black;
}
p{
  font-family: 'yellow_peas_demoregular';
  font-size:15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.mapouter{position:relative;text-align:right;border-radius:10px;height:300px;width:450px;}.gmap_canvas {overflow:hidden; background:none!important;height:200px;width:350px;}
@media screen and (min-width:1200px) {
  .stb{
    display: none;
  }
  .channel{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    padding-top: 120px;
    color: white;
    text-align: center;
  }
  .channel img{
    width: 100%;
    height: 350px;
  }
  .channel h1{
    font-weight: 1000;
    padding-top: 50px;
  }
  .more{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .more article{
    color: #ed3237;
    margin-top: 50px;
    font-size: 20px;
  }
  .more article p{
    border-radius: 25px;
    cursor: pointer;
    width: 400px;
    border: 1px solid #ed3237;
    margin: auto;
  }
  .more article p:hover{
    background-color: #ed3237;
    color: black;
  }
  .more article p a:hover{
    color: white;
  }
  .channel p{
    margin: 50px 100px 0px 100px;
  }
  .photos{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
  }
  .photos h2{
    /* border: 2px solid white; */
    color: white;
    width: 430px;
    margin-left: 50px;
    text-align: left;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
  }
  .photos article{
    text-align: center;
  }
  .photos article img{
    height: 290px;
    margin: 10px;
    border: 5px solid gray;
    border-radius: 10px;
  }
  .photos article img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }
}
@media screen and (min-width:769px) and (max-width:1199px) {
  .stb{
    display: none;
  }
  .channel{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    padding-top: 100px;
    color: white;
    text-align: center;
  }
  .channel h1{
    font-weight: 1000;
    padding-top: 50px
  }
  .channel img{
    width: 100%;
  }
  .more{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .more article{
    color: #ed3237;
    margin-top: 50px;
    font-size: 20px;
  }
  .more article p{
    border-radius: 25px;
    cursor: pointer;
    width: 400px;
    border: 1px solid #ed3237;
    margin: auto;
  }
  .more article p:hover{
    background-color: #ed3237;
    color: black;
  }
  .more article p a:hover{
    color: white;
  }
  .channel p{
    margin: 50px 50px 0px 50px;
  }
  .photos{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
  }
  .photos h2{
    border: 2px solid white;
    color: white;
    width: 430px;
    margin-left: 50px;
    text-align: left;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
  }
  .photos article{
    text-align: center;
  }
  .photos article img{
    height: 180px;
    margin: 10px;
    border: 5px solid gray;
    border-radius: 10px;
  }
  .photos article img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }
}
@media screen and (max-width:768px) {
  .stbb{
    display: none;
  }
  body{
      height: 100%;
      width: 100%;
      user-select: none;
      background-image: url(../images/earth.gif);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }
  .channel{
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
    color: white;
    text-align: center;
  }
  .channel img{
    width: 100%;
  }
  .channel h1{
    font-weight: 1000;
    padding-top: 30px;
  }
  .more{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .more article{
    color: #ed3237;
    margin-top: 50px;
    font-size: 20px;
  }
  .more article p{
    border-radius: 25px;
    cursor: pointer;
    width: 400px;
    border: 1px solid #ed3237;
    margin: auto;
  }
  .more article p:hover{
    background-color: #ed3237;
    color: black;
  }
  .more article p a:hover{
    color: white;
  }
  .channel p{
    margin: 50px 30px 0px 30px;
  }
  .photos{
    width: 100%;
    background-color: rgba(0,0,0,0.8);
  }
  .photos h2{
    border: 2px solid white;
    color: white;
    margin-left: 50px;
    text-align: left;
    border-radius: 25px;
    padding: 5px 30px 5px 30px;
  }
  .photos article{
    text-align: center;
  }
  .photos article img{
    width: 100%;
    margin: 30px 0 0 0;
    border: 5px solid gray;
    border-radius: 10px;
  }
  .photos article img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }
}
