#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#26262c;
  opacity: 0.2;
  display:none;
}
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:850px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 5px;
  border: 0px;
  text-align: center;
}
#boxes #dialog {
  width:450px;
  height:auto;
  padding: 0px;
  background-color:#ffffff;
  font-size: 15pt;
}

.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	color: red;
}
.sani{
  width: 450px;
}
@media screen and (max-width:768px) {
  .sani{
    width: 100%;
  }
  #boxes #dialog  {
    width: 80%;
}
